html, body, #root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* .movie_image:hover > .fig_caption{
  bottom: 0;
}

.fig_caption{
  bottom: -500px;
  transition: all .3s ease-in-out;
} */
